@charset "UTF-8";
/*fonts*/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: local("Montserrat"), url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.ttf") format("ttf");
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Montserrat", serif;
  color: #333333;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}

.title-main {
  font-size: 3rem;
  line-height: 117%;
  font-weight: 700;
}

/*header*/
.header {
  padding: 20px 0;
  box-shadow: 0 2px 0 #EFF2F2;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__menu {
  margin-right: 15px;
}
.header__menu-list {
  display: flex;
  align-items: flex-end;
}
.header__menu-item:not(:last-child) {
  margin-right: 30px;
}
.header__menu-link {
  font-size: 0.875rem;
  line-height: 114%;
  letter-spacing: 0.25px;
  transition: all 0.5s ease;
}
.header__menu-link_double {
  display: flex;
  align-items: flex-end;
}
.header__menu-link:hover {
  color: #03B2A5;
}
.header__menu-link:hover .header__menu-link-img {
  transition: all 0.5s ease;
  transform: rotate(180deg);
}
.header__menu-link-text {
  margin-right: 8px;
}

.logo {
  margin-right: 51px;
}

.button_lightgreen {
  padding: 14px 20px;
  background-color: #E3F5F5;
  color: #03B2A5;
  font-size: 1rem;
  line-height: 122%;
  font-weight: 700;
  transition: all 0.5s ease;
}
.button_lightgreen:hover {
  background: #b4e8e4;
  border-color: #b4e8e4;
  color: #00a89b;
}

@media (max-width: 1080px) {
  .header {
    box-shadow: none;
  }
  .logo {
    margin-right: 32px;
  }
  .header__menu-item:not(:last-child) {
    margin-right: 16px;
  }
}
@media (max-width: 970px) {
  .header__navigation {
    width: 100%;
    justify-content: space-between;
  }
  .header .header__menu-item:not(:last-child) {
    margin-right: 20px;
  }
  .button_lightgreen {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__menu-list {
    display: none;
  }
  .header__burger {
    display: block;
    position: absolute;
    top: 31px;
    right: 15px;
    width: 18px;
    height: 14px;
    z-index: 5;
    transition: all 0.5s ease;
  }
  .header__burger span {
    position: absolute;
    background-color: #03B2A5;
    left: 0;
    top: 6px;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #03B2A5;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger_active span {
    transform: scale(0);
  }
  .header__burger_active::before {
    background-color: #fff;
    transform: rotate(45deg);
    top: 0;
  }
  .header__burger_active::after {
    background-color: #fff;
    transform: rotate(-45deg);
    bottom: 12px;
  }
  .header__menu-list_active {
    position: absolute;
    z-index: 4;
    display: block;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: #03a094;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    text-align: center;
    transition: all 0.5s ease;
  }
  .header__menu-list_active .header__menu-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .header__menu-list_active .header__menu-link {
    font-size: 2rem;
    color: #E3F5F5;
  }
  .header__menu-list_active .header__menu-link_double {
    justify-content: center;
    align-items: center;
  }
  .header__menu-list_active .header__menu-link-img {
    transform: rotate(-90deg);
  }
}
@media (max-width: 414px) {
  .header__menu-link {
    font-size: 1.625rem;
  }
}
/*main*/
.main {
  padding: 16px 0 96px;
}
.main__title {
  margin-bottom: 32px;
}

.main-links {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  opacity: 0.7;
}

.main-link {
  font-size: 0.75rem;
  line-height: 150%;
  letter-spacing: 0.25px;
  transition: all 0.5s ease;
}
.main-link:hover {
  text-decoration: underline;
}

.filter {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.item-filter {
  padding: 6px 8px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #C1C5CD;
  border-radius: 24px;
  font-size: 0.875rem;
  line-height: 143%;
  font-weight: 600;
}
.item-filter_double {
  display: flex;
  align-items: center;
}
.item-filter_double img {
  margin-right: 4px;
}

.cards-big {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(358px, 1fr));
  gap: 24px;
}
.cards-big__item {
  min-height: 499px;
}

.card {
  position: relative;
  border: 1px solid #DEDEDE;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.card__img {
  flex: 0 1 260px;
  overflow: hidden;
}
.card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card__content {
  padding: 16px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.card__body {
  height: 100%;
}
.card__title {
  margin-bottom: 4px;
  font-size: 1.125rem;
  line-height: 144%;
  font-weight: 700;
}
.card__autor, .card__date {
  margin-bottom: 8px;
  font-size: 0.75rem;
  line-height: 150%;
  letter-spacing: 0.25px;
  color: #494949;
}
.card__text {
  flex: 1 1 auto;
  margin-bottom: 20px;
  font-size: 0.875rem;
  line-height: 143%;
}
.card__filter-first, .card__filter-second {
  position: absolute;
  left: 8px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.7);
}
.card__filter-first {
  top: 8px;
}
.card__filter-second {
  top: 48px;
}

.cards {
  margin-bottom: 56px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(283px, 1fr));
  gap: 24px;
}
.cards__item {
  min-height: 475px;
}

.button-green {
  margin: 0 auto;
  padding: 12px 16px;
  width: 182px;
  background-color: #35B3A9;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 150%;
  font-weight: 700;
  transition: all 0.5s ease;
}
.button-green:hover {
  background-color: #03a094;
}

@media (max-width: 1024px) {
  .main {
    padding: 16px 0 60px;
  }
  .main-links {
    margin-bottom: 40px;
  }
  .cards {
    margin-bottom: 35px;
  }
  .cards .card__img {
    flex: 0 1 206px;
  }
}
@media (max-width: 768px) {
  .main {
    padding: 16px 0 55px;
  }
  .cards-big .card__img {
    flex: 0 1 404px;
  }
  .cards {
    margin-bottom: 33px;
  }
}
@media (max-width: 414px) {
  .main {
    padding: 16px 0 59px;
  }
  .main__title {
    margin-bottom: 24px;
  }
  .main-links {
    margin-bottom: 32px;
  }
  .title-main {
    font-size: 2rem;
    line-height: 125%;
  }
  .filter {
    margin-bottom: 16px;
    flex-wrap: nowrap;
    overflow: auto;
    scrollbar-width: none;
  }
  .filter__item {
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .cards-big {
    grid-template-columns: 1fr;
  }
  .cards-big .card__img {
    flex: 0 1 206px;
  }
  .cards {
    grid-template-columns: 1fr;
    margin-bottom: 28px;
  }
}
@media (max-width: 320px) {
  .main-links {
    margin-bottom: 24px;
  }
  .title-main {
    font-size: 1.5rem;
    line-height: 133%;
  }
}
@media (max-width: 310px) {
  .item-filter {
    font-size: 0.75rem;
  }
}
/*footer*/
.footer {
  padding: 40px 0 17px;
  background-color: #2963A3;
  color: #FFFFFF;
}
.footer__info {
  padding-bottom: 24px;
  border-bottom: 1px solid #9D9D9D;
  display: flex;
  justify-content: space-between;
}
.footer__menu {
  flex: 0 1 26%;
  display: flex;
  justify-content: space-between;
}
.footer__menu-col {
  display: flex;
  flex-direction: column;
}
.footer__menu-col:not(:last-child) {
  margin-right: 15px;
}
.footer__menu-link {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 700;
  transition: all 0.5s ease;
}
.footer__menu-link:hover {
  text-decoration: underline;
}
.footer__menu-link:not(:last-child) {
  margin-bottom: 16px;
}
.footer__contact {
  flex: 0 1 40%;
}
.footer__contact-title {
  margin-bottom: 8px;
  max-width: 356px;
  font-size: 1.125rem;
  line-height: 144%;
  font-weight: 700;
}
.footer__contact-form {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.footer__contact-input {
  padding: 14px 16px;
  width: 320px;
  height: 48px;
}
.footer__contact-input::-moz-placeholder {
  font-size: 0.875rem;
  line-height: 143%;
  color: #9D9D9D;
}
.footer__contact-input::placeholder {
  font-size: 0.875rem;
  line-height: 143%;
  color: #9D9D9D;
}
.footer__contact-button {
  width: 64px;
  height: 48px;
  background-color: #16C8BB;
  transition: all 0.5s ease;
}
.footer__contact-button:hover {
  background-color: #03a094;
}
.footer__contact-text {
  font-size: 0.75rem;
  line-height: 150%;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  opacity: 0.7;
}
.footer__socials {
  flex: 0 1 18%;
}
.footer__socials-big-icon {
  margin-bottom: 40px;
}
.footer__socials-icons {
  display: flex;
}
.footer__socials-icon:not(:last-child) {
  margin-right: 16px;
}
.footer__dop-info {
  padding-top: 16px;
  display: flex;
  align-items: center;
}
.footer__coryright {
  margin-right: 48px;
}
.footer__dop-link {
  transition: all 0.5s ease;
}
.footer__dop-link:hover {
  text-decoration: underline;
}
.footer__dop-link:not(:last-child) {
  margin-right: 48px;
}